body{
    background-image:url("bagr.jpg") ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.form-container {
   
    background-color: #e8dce2;
    border: 1px solid #e1d7d7;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(205, 195, 195, 0.1);
    width: 100%;
    
   max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #a04d7b;
}

 form {
    display: flex;
    flex-direction: column; 
   

}

label {
    margin-bottom: 0px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
input:focus {
    border-color: #d8c1c1;
    outline: none;
}

button {
    padding: 10px;
    background-color: #22272c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #d8c1c1;
}





input:invalid {
    border: 2px solid rgb(118, 68, 102);
}

input:valid {
    border: 2px solid green;
}
   



.success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
