
















































body{
    background-color: whitesmoke;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img{
    display: flex;
    flex-direction: column;
}

.image img {

    width: 1300px;   
    height: auto; 
    cursor: pointer;
}
.image2 {
    width: 20px;   
    height: auto; 
    margin: 150px;
}

.product-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 20px;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 200;
    /* overflow: hidden; */
   
}

/* Conteneur principal de la navigation */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Centrer verticalement */
    padding: 15px 1px;
    background-color: #e7d3df;
    height: 70px;
}

/* Logo (aligné à gauche) */
.product img {
    height: 185px; /* Ajuste la taille du logo */
    max-width: 200px;
    
}

/* Liste de navigation (alignée à droite) */
.nav-links {
    list-style-type: none;
    display: flex;
    
}

.product-description{
    display: flex;
    justify-items: center;
    flex-direction:column;
    color: rgb(139, 0, 130);
}

.product-description h2{
    color: #000;
}
.product-description h3{
    color:brown;
}
.product-img {
    text-align: center;
}

.small_img {
    width: 70px;
    height: auto;
    cursor: pointer;
}

.nav-links li {
    margin-right: 20px; /* Espacement entre les éléments de la liste */
}



.footer {
    background-color: #f4d4e6;
    color: #161313;
    padding: 20px 10px;
    font-family: 'Arial', sans-serif;
  }

  .footer-container {
  
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        
    }

    .footer-contact{
        height: 100px;
        text-align: justify;
        width: 50%;
        margin-left: 400px;
        
    }
    .footer-contact h2{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: italic;
        padding-bottom: 20px;
        
    }
    
    .footer-contact img {
        width: 15px; /* Ajustez la taille des logos selon vos besoins */
        margin-right: 5px;
        vertical-align: middle; /* Alignement vertical au centre par rapport au texte */
        padding-left: 10px;
    }
    
    .footer-socials p {
        font-size: 0.9rem;
        margin-bottom: 10px;
        display: flex;
        text-align: justify;
        
        
       

      }
      .footer-bottom {
      text-align: center;
      margin-top: 20px;
        font-size: 0.8rem;
      color: #5a4242;
      }
      .footer-icons {
        display: flex;
        gap: 15px;
        }
        















































































.footer {
    background-color: #f4d4e6;
    color: #161313;
    padding: 20px 10px;
    font-family: 'Arial', sans-serif;
  }

  .footer-container {
  
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        
    }

    .footer-contact{
        height: 100px;
        text-align: justify;
        width: 50%;
        margin-left: 400px;
        
    }
    .footer-contact h2{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: italic;
        padding-bottom: 20px;
        
    }
    
    .footer-contact img {
        width: 15px; /* Ajustez la taille des logos selon vos besoins */
        margin-right: 5px;
        vertical-align: middle; /* Alignement vertical au centre par rapport au texte */
        padding-left: 10px;
    }
    
    .footer-socials p {
        font-size: 0.9rem;
        margin-bottom: 10px;
        display: flex;
        text-align: justify;
        
       

      }
      .footer-bottom {
      text-align: center;
      margin-top: 20px;
        font-size: 0.8rem;
      color: #5a4242;
      }
      .footer-icons {
        display: flex;
        gap: 15px;
        }
